[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=rwx-calc
Icon=harbour-rwx-calc
Exec=harbour-rwx-calc

[X-Sailjail]
OrganizationName=org.adekker
ApplicationName=rwx-calc
Permissions=
